<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url('newNotification') }}">
        <input type="text" name="id" placeholder="Id da empresa">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="description" placeholder="description">
        <input type="number" name="level" placeholder="level">

        <button>
            Enviar
        </button>
    </form>
</body>
</html>